body{
    font-family: 'Roboto', sans-serif !important;
}
.top{
    height:70px;
    background-color: whitesmoke;
}
.middle{
    height:auto;

    background-repeat: no-repeat;
    background-size: cover;
        text-align: center;
        padding-top:6%;
       padding-bottom: 100px;
} 
.sagulasım{
border-left: 2px solid #909090;
    float: right;
margin-right: 30px;
}
.blue{

    color: #4884F2;
}
.bg1{
    background:url(../images/anasayfa/arkaplan_hakkimizda.jpg);
height:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2{
      background:url(../images/anasayfa/main-image2.jpg);
 
height:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3{
           background:url(../images/anasayfa/sa.jpg);
height:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg4{
    background:url(../images/anasayfa/haber-arkaplan.jpg);
   
height:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg5{
    background:url(../images/anasayfa/urunler-arkaplan.jpg);

height:auto;

    background-repeat: no-repeat;
    background-size: cover;

}
.aktif{

    border-bottom: 3px solid;
}
.height-700px{
    height:700px;
     background:url(../images/img1.jpg);
}
.cool-text{
    font-size:77px;
    color:white;
font-family: 'Mogra', cursive;
}
.logo{
    font-size:25px;
    line-height:70px;
    padding-left:20px;
    cursor: pointer;
    width:30%;
float: left;
background-color: whitesmoke;
}

.menu{
width: 50%;
 margin-top:4px;   
float: left;
background-color: whitesmoke;

}

.textpadding{
margin-left: 50px;
padding-top:20px;

}
.yanh2{
color:  #A7B0B9;
float: left;
margin-left: 5%;

}



.menuic{

padding: 20px;
    float: left;
    padding-left: 30px;
}

.menuic a{
font-family: 'Exo', sans-serif;
transition: 300ms;
    text-decoration: none;
    color: #C2C2C2;
}
.menuic a:hover{
transition: 300ms;
font-family: 'Exo', sans-serif;
    text-decoration: none;
    color:#B9A78E;
    border-bottom:3px solid;
    padding-bottom: 2px;
}
.right{

    float: right;
    
}
.search{
    height: 30px;
    width: 30px;
     
    float: right;
    
    margin-top:16px;
    margin-right: 80px;
}
.yanmenu{
width: auto;
 margin-top:4px;   
float: right;

background-color: whitesmoke;
width: 20%;
}
.enmenuic{

padding: 20px;
    float: right;
    padding-left: 30px;
}
.enmenuic a{
font-family: 'Exo', sans-serif;
transition: 300ms;
    text-decoration: none;
    color: #C2C2C2;
}
.enmenuic a:hover{
transition: 300ms;
font-family: 'Exo', sans-serif;
    text-decoration: none;
    color:#B9A78E;
    border-bottom:5px solid;
    padding-bottom: 5px;
}
.yanmenuic a{
margin-left: 200px;
float: right;
margin-bottom: 20px;
}
.icerik{
    background-color: white;
    color:black;
    height: auto;
    width:60%;
    margin-left:20%;
    border-radius: 5px;
    padding: 10px;
}
.icerik h1{


    color: #D9534F;
}
.icerik p{

text-align: left;
margin-left: 40px;

}
.h1color{
}
.h1color h1{

    color: coral;
}

.textarea{

width: 89%;

}

.buton{

border-radius: 4px;
background-color: #3a84ff;
    margin-top: 20px;
    color: white;
    font-family: 'Droid Sans', sans-serif ;
padding: 15px 20px 15px 20px;
    border:none;
    float: left;
transition: 0.6s;
    margin-left: 66px;
}
.buton:hover{
transition: 0.6s;
border-radius: 4px;
background-color: coral;
    margin-top: 20px;
    color: white;
    font-family: 'Droid Sans', sans-serif ;
padding: 15px 20px 15px 20px;
    border:none;
    float: left;
    margin-left: 66px;
}

.arkaplan-iletisim{

  height:auto;
    background:url(../images/anasayfa/arkaplan-iletisim.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
        text-align: center;
        padding-top:210px;
        padding-bottom: 100px;  
}
.selcuklu{
    width: 120px;
    height: 32px;
  
    background:url("../images/logo-footer-selcuklu.png") top center no-repeat;
        -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 400ms ease-in-out;
    margin-left: 72%;
margin-top: 1%;

}


.almesan{
    width: 140px;
    height: 45px;
    background:url("../almesanlogo.jpeg") top center no-repeat;
        -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 400ms ease-in-out;
 float: center; 

}
.almesan:hover{
    background-position: bottom center;
}

.selcuklu:hover{
    background-position: bottom center;
}
.haberler-padding{
margin-left: 2%;
padding: 20px;
width: 95%

}
.haberler-padding:hover{

    border-bottom:1px solid #E9EBEE;
}
.text-margin{

margin-left: 3%;

}
.text-blue{
    color:#4b699b !important;
}