video { 
    width: 100%;
    z-index: -1;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
    opacity: .5;
}


@media screen and (max-width: 500px) { 
    div{width:80%;} 
}
@media screen and (max-device-width: 800px) {

    #bgvid { display: none; }
}
